pkgbase = mcpp-bin
	pkgdesc = Modern C++ build & package management tool (prebuilt binary)
	pkgver = 2026.8.8.4
	pkgrel = 1
	url = https://github.com/mcpp-community/mcpp
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = git
	conflicts = mcpp-m
	conflicts = mcpp
	options = !strip
	source = mcpp.sh
	sha256sums = SKIP
	source_x86_64 = mcpp-2026.8.8.4-linux-x86_64.tar.gz::https://github.com/mcpp-community/mcpp/releases/download/v2026.8.8.4/mcpp-2026.8.8.4-linux-x86_64.tar.gz
	sha256sums_x86_64 = a8f30fc73fae75381cdd734d204e6c04a24c55365cdf8bb6da07c3aa663c8f9f
	source_aarch64 = mcpp-2026.8.8.4-linux-aarch64.tar.gz::https://github.com/mcpp-community/mcpp/releases/download/v2026.8.8.4/mcpp-2026.8.8.4-linux-aarch64.tar.gz
	sha256sums_aarch64 = e0d63de0f6e0111f47df00e9135baf437aed2bcdb883dbb658880d9ee4418e27

pkgname = mcpp-bin
